.assessment {
  margin-top: 60px;

  &__subtitle {
    text-align: center;
    margin-top: 24px;
    font-size: 18px;
    line-height: 21px;
    color: #505050;

    a {
      color: $primary;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__flex {
    display: flex;
    margin-top: 60px;

    @media (max-width: $lg) {
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 73px;
    margin-left: 40px;

    @media (max-width: $sm) {
      width: 100%;
      margin-left: 0!important;
      padding-left: 0!important;
      justify-content: center;
      padding-top: 20px;
      margin-top: 20px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent transparent transparent $primary;
      border-width: 13px 0 13px 13px;

      @media (max-width: $sm) {
        transform: translateX(-50%);
        left: 50%;
        top: 0;
        border-color: $primary transparent transparent transparent;
        border-width: 13px 13px 0 13px;
      }
    }

    &:first-child {
      padding-left: 0;
      margin-left: 0;
      padding-top: 0;
      margin-top: 0;

      &:before {
        display: none;
      }
    }

    &:nth-child(4) {
      @media (max-width: $md) {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }

  &__icon {

  }

  &__text {
    margin-left: 16px;
    font-size: 18px;
    line-height: 21px;
    color: black;

    @media (max-width: $sm) {
      width: 160px;
      flex-shrink: 0;
    }
  }

  &__right {
    margin-left: auto;
    position: relative;

    @media (max-width: $lg) {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 50px;
    }

    @media (max-width: $sm) {
      margin-top: 70px;
    }
  }

  &__link {
    position: absolute;
    bottom: calc(100% + 8px);
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 18px;
    line-height: 21px;
    color: $primary;

    &:hover {
      color: black;
    }
  }

  &__button {
    background: $primary;
    border-radius: 50px;
    transition: 0.3s;
    width: 270px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 21px;
    color: white;
    cursor: pointer;

    &:hover {
      background: black;
    }
  }

  .title {
    @media (max-width: $xs) {
      line-height: 30px;
    }

    span {
      color: $primary;
    }
  }
}