footer.footer
    div.container
        div.footer__flex
            div.footer__left
                div.footer-location
                    p.footer-location__label Наши магазины
                    select.footer-location__select
                        option Москва
                        option Санкт-Петербург
                div.footer-menu
                    div.footer-menu__column
                        a.footer-menu__link(href="") Главная
                        a.footer-menu__link(href="") Каталог
                    div.footer-menu__column
                        a.footer-menu__link(href="") Магазины
                        a.footer-menu__link(href="") Новости и акции
                    div.footer-menu__column
                        a.footer-menu__link(href="") О нас
                        a.footer-menu__link(href="") Вакансии
            div.footer__logo
                img(src="img/footer-logo.svg")
            div.footer__right
                div.footer__right-flex
                    div.footer-phone.footer__right-column
                    div.footer-phone.footer__right-column
                        p.footer-phone__label Контактный центр*
                        a.footer-phone__link(href="tel:+7 (495) 586-11-40") +7 (495) 586-11-40
                div.footer__right-flex
                    div.footer__right-column
                        a.footer__email(href="mailto:info@komlavka24.ru")
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.8906 2.85938H2.10938C0.947719 2.85938 0 3.80606 0 4.96875V19.0312C0 20.19 0.9435 21.1406 2.10938 21.1406H21.8906C23.0494 21.1406 24 20.1971 24 19.0312V4.96875C24 3.81 23.0565 2.85938 21.8906 2.85938ZM21.5993 4.26562L12.0447 13.8203L2.40745 4.26562H21.5993ZM1.40625 18.7401V5.25323L8.1787 11.9676L1.40625 18.7401ZM2.40061 19.7344L9.17733 12.9577L11.5519 15.3118C11.8267 15.5843 12.2703 15.5835 12.5441 15.3097L14.8594 12.9944L21.5994 19.7344H2.40061ZM22.5938 18.74L15.8537 12L22.5938 5.25994V18.74Z" fill="#979797"/>
                            </svg>
                            | info@komlavka24.ru
                    div.footer__right-column.footer-socials
                        a.footer-socials__item(href="" target="_blank")
                            img(src="img/tg.svg")
                        a.footer-socials__item(href="" target="_blank")
                            img(src="img/insta.svg")
                        a.footer-socials__item(href="" target="_blank")
                            img(src="img/wa.svg")
                        a.footer-socials__item(href="" target="_blank")
                            img(src="img/vk.svg")

    div.footer__bottom
        a.footer__bottom-link(href="") Политика конфиденциальности