div.pagination
    a.pagination__link.pagination__link--prev(href="") Предыдущая
    a.pagination__link(href="") 1
    a.pagination__link.pagination__link--active(href="") 2
    a.pagination__link(href="") 3
    a.pagination__link(href="") 4
    a.pagination__link(href="") 5
    span.pagination__link ...
    a.pagination__link(href="") 23
    a.pagination__link(href="") 24
    a.pagination__link(href="") 25
    a.pagination__link.pagination__link--next(href="") Следующая