@import "layout/var";

html, body {
    position: relative;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font, sans-serif;
    margin: 0;
    padding: 243px 0 0;
    position: relative;
    height: 100%;
    color: $grey;

    @media (max-width: $md) {
        padding-top: 174px;
    }

    @media (max-width: $sm) {
        padding-top: 140px;
    }

    @media (max-width: $xs) {
        padding-top: 202px;
    }
}

p {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
header, footer, section, div, span, p, button, a, input, textarea, form {
    box-sizing: border-box;
}

button,input,textarea,select{
    outline: none;
}
button {
    padding: 0;
    border: 0;
    background-color: transparent;
    transition: 0.3s;
}
a {
    text-decoration: none;
    transition: 0.3s;
}

a:focus {
    outline: none;
}

form {
    margin: 0;
}

footer {
    margin: 0;
    padding: 0;
}



.container {
    width: 1520px;
    margin: 0 auto;

    @media (max-width: $lg) {
        width: 1170px;
    }

    @media (max-width: $md) {
        width: 932px;
    }

    @media (max-width: $sm) {
        width: 728px;
    }

    @media (max-width: $xs) {
        width: calc(100% - 40px);
    }
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #505050;

    @media (max-width: $xs) {
        font-size: 24px;
    }

    &--left {
        text-align: left;
    }

    &--top40 {
        margin-top: 40px;

        @media (max-width: $xs) {
            margin-top: 20px;
        }
    }
}